* {
    margin: 0;
}
html {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {
	background-color: rgb(0, 0, 0);
}

.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #dfc012c5;
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #5f5f5f;
	font-size: 18px;
}

h2 span {
	color: #c5854c;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form  {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #ff0d05 .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #0e191d;
	color: white;
}

.btn__reset {
	background-color: #ee5555;
}

.btn__submit:hover {
	background-color: #2b5457;
}

.btn__reset:hover{
	background-color: #770909;
}

/***********************menu*******************************/


.navegacion nav a img{
    width: 58px;
    height: 58px;
    float: right;
    margin-right: 20px;
    margin-right: 0px;
}

.navegacion nav ul .logo a img {
    width: 120px;
    height: 65px;
    float: left;
    margin: 0px;
    margin-right: 20px;
}

.navegacion nav ul a {
	font-size: 110%;
}

.navegacion{
	width: 100%;
    
}

.navegacion nav{
	width: 100%;
	max-width: 100%;
	background: #fde458;
    font-size: 18;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.navegacion nav ul{
	list-style: none;
	position: relative;
}

.navegacion nav > ul > li{
	display: inline-block;
    margin-left: 1%;
}

.navegacion nav > ul > li > a{
	color: rgb(80, 80, 80);
	text-decoration: none;
	display: block;
	padding: 20px;
}

.navegacion nav > ul > li > a span{
	font-size: 20px;
	position: absolute;
	bottom: -8px;
	display: none;
}

.navegacion nav > ul > li:hover span{
	display: block;
}

.navegacion nav ul li .submenu{
	background: #2D3447;
	padding: 20px;
	position: absolute;
	display: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.24);
}

.navegacion nav ul li:hover .submenu{
	display: flex;
}

.navegacion nav ul li .submenu .submenu-items{
	margin: 0 20px;
}

.navegacion nav ul li .submenu .submenu-items p{
	font-weight: 600;
	width: 110px;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #565656;
	margin-bottom: 10px;
}

.navegacion nav ul li .submenu .submenu-items a{
	color: #474747;
	text-decoration: none;
	margin: 6px 0;
	display: block;
}

/*****************************************************************************/

/*********************** Estilos para Footer ***************************************/

footer {
    position: relative;
    top: 20; 
    width: 100%;
    height: 180px; 
    margin: 0;
}

footer .footer-content {
    margin-left: 10%;
    display: flex;
}
footer .footer-content ul li > a {
    font-size: 12px;
    color: #ffe93c;
    text-decoration: none;  
}

footer .footer-content ul li:hover > a {
    color: rgb(255, 255, 255);
}

footer .footer-content .img01 {
    width: 160px;
    margin-top: 5%;
}

footer .footer-content  .img02 {
    width: 90px;
}

footer .footer-content .img01 .img02 {
    margin-left: 100px;
}

footer .footer-content img {
    margin: 15px;
}

footer .footer-content  ul  {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}

footer .footer-content  ul li {
    margin: 20px;
    text-align: center;

}




/**********************************************************************************/
